.cta {
	position: relative;

	.section-inner {
		padding-bottom: 64px;
	}

	.section-paragraph {
		margin-bottom: 32px;
	}
}

.cta-cta {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@include media("<medium") {
	.cta-cta {
		> * {
			display: flex;

			+ * {
				margin-top: 18px;
			}
		}
	}

	.lights-toggle {
		justify-content: center;
	}
}

@include media(">medium") {
	.cta {
		.section-inner {
			padding-bottom: 128px;
		}

		.section-paragraph {
			margin-bottom: 40px;
			padding-left: 72px;
			padding-right: 72px;
		}

		&::before {
			bottom: 0;
		}
	}

	.cta-cta {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;

		.button {
			min-width: 170px;

			&:first-child {
				margin-right: 15px;
			}
		}
	}
}
